<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
    <div>
        <form id="board_box">
            <p name="views" th:text="'조회 수: ' + ${board.views}" />
            <input type="hidden" id="boardId" th:value="${board.id}">
            <input type="text" name="boardTitle"  th:value="${board.title}"><br>
            <input type="text" name="boadContent"  th:value="${board.content}">
        </form>

        <button id="updateBtn">수정</button>
        <button id="delBtn">삭제</button>
    </div>

    <script>
        $(document).ready(function() {
            $("#delBtn").click(function() {
                const href = "deleteBoard/" + $("#boardId").val();
                console.log(href);

                $.ajax({
                    url: href,
                    method: 'DELETE',
                    success: function(data) {
                        window.location.href = '/board';
                    }
                })
            });
        })


    </script>
</body>
</html>